.letter-input {
  max-width: 55px;
  margin-left: 3px;
  margin-right: 3px;
}

.word {
  margin-bottom: 12px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.rounded {
  border-radius: 0.2em;
  padding: 0.2em;
}

.my-tag {
  cursor: pointer;
}
